@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800,300italic,400italic,600italic,700italic,800italic);

*{
    margin:0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}

.blanco{
    color: #e7e7e7;
}

.gris {
    color: #9b9b9b;
}

.rojo{
    color: #fe4141;
}


.card{
    background-color: #1e1b26;
    width: 450px;
    min-height: 600px;
    font-family: Roboto, sans-serif;
    border-radius: 15px;
    box-shadow: 2px 3px 7px 3px #aaa; 
}

.card-title,.card-summary{
    font-family: Montserrat;
}


.card-title{
    font-size: 48px;
    font-weight: 200;
    margin-top: 15px;
    margin-left: 20px;
}

.card-subtitle{
    font-size: 16px;
    margin-left: 20px;
}

.card-summary{
    margin: 15px 0 15px 20px;
}

.card-text{
    padding: 15px 20px 15px 20px;
    text-align: justify; 
}

.card-actors{
    padding: 15px 20px 15px 20px;
    font-style: italic;
}

.card-button{
    display: inline-block;
    border: 1px solid #fe4141;
    border-radius: 10px;
    margin: 20px;
    padding: 5px;
    text-align: left;
    font-size: 20px;
    text-transform: uppercase;
}

.card-icon{
    width: 16px;
}

.card-img{
    border-radius: 10px;
    width: 100%;
}